/.idea
/.venv
/__pycache__/
# Игнорирование скомпилированных файлов Python
__pycache__/
*.pyc

# Игнорирование данных базы данных
data/
*.rdb

# Игнорирование логов
logs/
*.log

# Игнорирование данных Redis
redisdata/
